  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><span>게시판 구현</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>

          <li class="drop-down"><a href="#">Board</a>
            <ul>
              <li><a href="board">Board</a></li>
              <li><a href="dashboard">DashBoard</a></li>
              <li><a href="board_ajax">Ajax</a></li>
              <li><a href="#" onclick="alert('Plan...')">planning...</a></li>
            </ul>
          </li>

          <li><a href="http://www.naver.com/" target="_blank">Naver</a></li>

          <li class="get-started"><a href="#">Get Started</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->